
    <h1 class="list-heading"><%= pageTitle %></h1>

    <div class="search-box">
        <input type="text" placeholder="Type here to search...">
        <button type="button">Search</button>
    </div>

    <!-- pagination.ejs -->
<!-- <div class="pagination">
    <% if (currentPage > 1) { %>
        <a href="/books?limit=<%= limit %>&page=<%= currentPage - 1 %>">Previous</a>
    <% } %>
    <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === currentPage) { %>
            <span class="current"><%= i %></span>
        <% } else { %>
            <a href="/books?limit=<%= limit %>&page=<%= i %>"><%= i %></a>
        <% } %>
    <% } %>
    <% if (currentPage < totalPages) { %>
        <a href="/books?limit=<%= limit %>&page=<%= currentPage + 1 %>">Next</a>
    <% } %>
</div> -->
    
<!-- modified pagination (Previous and Next buttons do not disappear)-->
<div class="pagination">
    <a href="<%= currentPage > 1 ? '/books?limit=' + limit + '&page=' + (currentPage - 1) : '#' %>" 
       class="<%= currentPage > 1 ? '' : 'disabled' %>">Previous</a>

    <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === currentPage) { %>
            <span class="current"><%= i %></span>
        <% } else { %>
            <a href="/books?limit=<%= limit %>&page=<%= i %>"><%= i %></a>
        <% } %>
    <% } %>

    <a href="<%= currentPage < totalPages ? '/books?limit=' + limit + '&page=' + (currentPage + 1) : '#' %>" 
       class="<%= currentPage < totalPages ? '' : 'disabled' %>">Next</a>
</div>


    <div class="row table-row">
    <table class="mytable">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genres</th>
            <th>Year Published</th>
            <th>Price (PKR)</th>
            <th>Action</th> 
        </tr>
        <% for (let index = 0; index < books.length; index++) { %>
            <tr>
                <td><%= books[index].title %></td>
                <td><%= books[index].author %></td>
                <td class="genre-cell">
                    <% for (let genreIndex = 0; genreIndex < books[index].genre.length; genreIndex++) { %>
                        <%= books[index].genre[genreIndex] %>
                        <% if (genreIndex !== books[index].genre.length - 1) { %>, <% } %>
                    <% } %>
                </td>
                <td><%= books[index].year %></td>
                <td>Rs. <%= books[index].price %></td>
                <td><button class="btn btn-success buy-btn" onclick="buyBook('<%= books[index].title %>')">Buy</button></td> 
            </tr>
        <% } %>
    </table>
</div>

    <script>
        function buyBook(title) {
            // You can implement the logic for buying a book here
            alert("You have bought the book: " + title);
        }
    </script>






